body{
     font-family: $base-font-family;
     font-size: $base-font-size;
     line-height: 1.7em;
     color: $base-font-color;
     background-color: $light-color !important;
}
a{
  color: $primary-color;
}

ul,li{
   list-style: none;
}

input,textarea,button, {
  @include border-radius(0px);
}
h5{
  margin-left: 30px;
  font-size: 16px !important;
  font-weight: bold;
}
.well-md{

  min-height: 20px;
  padding: 14px;
  margin-bottom: 30px;
  background-color: #234154 !important;
  border: 1px solid #234154 !important;
  margin-left: 25px;
  border-radius:0px !important;
//  background-image: #234154 !important;

  background-image: linear-gradient(to bottom,#234154 0%, #234154 100%)!important;


}


.form-control{

  display: block;
  height: 40px !important;
  padding: 7px 12px;
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  background-image: none;

  border-radius: 0px !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;

}


.modal-content{
  border-radius:  0px !important;
}


p{
    color: #000 !important;
}
