<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title"> BPO/KPO Jobs</div>
        </div>
        <div class="panel panel-body" ng-controller="bpoCtrl">


            <div dir-paginate=" bp in bpojobs | filter:search | itemsPerPage: 3">

                <div class="thumbnail">
                    <h4 ng-model="title">{{ bp.title }}</h4>
                    <p><strong>Designatiom:</strong>&nbsp;<small>{{ bp.designation }}</small></p>
                    <p><strong>Skill:</strong>&nbsp;<small>{{ bp.skills }}</small></p>
                    <p><strong>Salary:</strong>&nbsp;<small>{{ bp.salary }}/-</small></p>
                    <p><strong>Address:</strong>&nbsp;<small>{{ bp.address }}</small></p>
                    <hr>
                    <div class="clearfix">
                        <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#info" ng-click="getDetails(bp)">More Info and Apply</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8 col-lg-offset-4">
                    <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
