<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#"><h4><span class="highlights">Techwizz</span>Search</h4></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class=""><a ui-sref="home">Home</a></li>
            <li class=""><a ui-sref="hospital">Hospital</a></li>
            <li class=""><a ui-sref="realestate">Real Eastate</a></li>
            <li class=""><a ui-sref="restaurant">Restaurant</a></li>
            <li class=""><a ui-sref="jobs">jobs</a></li>
            <li class=""><a ui-sref="tourism">Tourism</a></li>
            <li class=""><a ui-sref="movie">Movies</a></li>
            <li class=""><a ui-sref="event">Events</a></li>

        </ul>
        
       
    </div>
    <!--/.nav-collapse -->

</nav>
