<p></br></p>
<p></br></p>
<p></br></p>
       <div class="row">
    <div class="col-md-12">
        <form class="form-inline well well-md clearfix">
            <div clas="row">
                <div class="col-md-4">
                    <h4><span class="label label-warning">AKOLA</span></h4>
                </div>
                <div class="col-md-8">
                    <input type="text" style="width: 80%" placeholder="Search..." class="form-control" ng-model="search.$" />
                </div>
            </div>
        </form>

        <!--  Restaurant Panel-->
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <div class="panel-title | filter: search"><a ui-sref="restaurant"> Rastaurant & Cafes in Akola </a></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <!-- <div class="container">
                                  <div ng-include="'app/templates/familyrestaurant.html'"></div></div>
                                  <div class="container">
                                  <div ng-include="'app/templates/tourism.html'"></div></div> -->

                        <div class="col-md-12">
                            <div class="thumbnail">
                                <a ui-sref="restaurant"><img ng-src="app/images/crib-2.jpg"></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <h4>Anand Restaurant</h4>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#info" ng-click="" style="margin-bottom: 20px ">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="col-md-12">
                            <div class="thumbnail">
                                <img ng-src="app/images/crib-2.jpg">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8 ">
                                <h4>BAABA Restaurant</h4>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#info" ng-click="" style="margin-bottom: 20px ">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="col-md-12">
                            <div class="thumbnail">
                                <img ng-src="app/images/crib-2.jpg">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <h4>Prithvi Restaurant</h4>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#info" ng-click="" style="margin-bottom: 20px ">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- End Of restaurant panel -->
<!-- Cakes And Bakery Panel -->
<div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
        <div class="panel-title ">Cakes and Flower Delivery in Amravati (M.S)</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <ul class="nav nav-tabs nav-justified col-md-12">
                <li class="col-md-4">
                    <h2 style="text-align: center;"><a class="nav-tabs nav ">Cakes</a></h2>
                    <div ng-include="'app/templates/cakes.html'"></div>
                </li>
                <li class="col-md-4">
                    <h2 style="text-align: center;"><a class ="nav-tabs nav ">Flower </a></h2>
                    <div ng-include="'app/templates/flower.html'"></div>
                </li>
                <li class="col-md-4">
                    <h2 style="text-align: center;"><a class="nav-tabs nav">Combos </a></h2>
                    <div ng-include="'app/templates/Combos.html'"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
        <div class="panel-title "><a ui-sref="movie">	Movies & Fun </a></div>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <div class="panel-title "> <a ui-sref="movie"> Movies in Akola </a></div>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <a ui-sref="movie">
                            <img ng-src="app/images/cake-2.jpg" class="thumbnail" width="100%" height="242px">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <h3>Befikre</h3>
                        </div>
                        <p><br></p>
                        <div>
                            <p>
                                <b>Genre :</b>Romance ,Comedy
                            </p>
                            <p><br></p>
                            <p>
                                <b>Star cast :</b>Vani kapoor ,Ranvir Singh
                            </p>
                            <p><br></p>
                            <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#info" ng-click="" style="margin-bottom: px ">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <div class="panel-title" ng-model="search.$"><a ui-sref="jobs"> Jobs in Akola </a></div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <h5>Techwizz</h5></li>
                        <p>
                            <hr>
                            <li>
                                <h5>Techwizz</h5></li>
                            <p>
                                <hr>
                                <li>
                                    <h5>Techwizz</h5></li>
                                <p>
                                    <hr>
                                    <li>
                                        <h5>Techwizz</h5></li>
                                    <p>
                                        <hr>
                                        <li>
                                            <h5>Techwizz</h5></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
        <div class="panel-title" ng-model="search"><a ui-sref="realestate">Real Estate in Akola </a></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <a ui-sref="realestate"><img ng-src="app/images/crib-2.jpg"></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-8 ">
                        <h4 ng-model="address">Anand Restaurant</h4>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-info btn-xs">View Details</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <a ui-sref="realestate"><img ng-src="app/images/crib-2.jpg"></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-8 ">
                        <h4 ng-model="address">Anand Restaurant</h4>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-info btn-xs">View Details</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <a ui-sref="realestate"><img ng-src="app/images/crib-2.jpg"></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-8 ">
                        <h4 ng-model="address">Anand Restaurant</h4>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-info btn-xs">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
        <div class="panel-title" ng-model="search"><a ui-sref="tourism">Tourism In Akola</div></a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div ng-include="'app/templates/tourism.html'"></div>

            </div>

        </div>

    </div>
</div>
</div>
</div>
