<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title"> Marketing Jobs</div>
        </div>
        <div class="panel panel-body" ng-controller="marketingCtrl">
            <div dir-paginate=" mk in marketingjobs | filter:search | itemsPerPage: 3">
                <div class="thumbnail">
                    <h4 ng-model="title">{{ mk.title }}</h4>
                    <p><strong>Designatiom:</strong>&nbsp;{{ mk.designation }}</p>
                    <p><strong>Skill:</strong>&nbsp;{{ mk.skills }}</p>
                    <p><strong>Salary:</strong>&nbsp;{{ mk.salary }}/-</p>
                    <p><strong>Address:</strong>&nbsp;{{ mk.address }}</p>
                    <hr>
                    <div class="clearfix">
                        <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#info" ng-click="getDetails(mk)">More Info and Apply</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8 col-lg-offset-4">
                    <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
